*{
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-decoration: none;
	font-weight: normal;
}

.input{
	display:none;
}

html, body{
	width: 100%;
	height: 100%;
	max-height: 100%;
	min-height: 0;
}

body{
	display: flex;
	flex-direction: column;
}

header{
	width: 100%;
	height: 60px;

	text-align: center;

	border-bottom: 1px solid gray;
}

h1{
	font-size: 30px;
	padding: 10px;
}



#dCorps{
	width: 100%;
	flex-grow: 1;
	overflow: auto;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
}


#dTabBar, #dActions{
	width: 300px;
	box-sizing: border-box;
	display: flex;
	min-height: 0;

	flex-direction: column;
	overflow: auto;
}

#dTabBar{
	display: none;
}


#dCentral{
	flex: 1 1;
	overflow: hidden;
	position: relative;
}

#groundUsage{
	position: absolute;
	image-rendering: crisp-edges;
}

#dMovable{
	transform-origin: 0 0;
	overflow: visible;
	position: relative;
	width: 100px;
	height: 100px;
}

#dTabBar  > *{
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid rgb(220, 220, 220);
	transition: 0.2s;
}

#dTabBar  > *:hover{
	padding-left: 12px;
	padding-right: 8px;
}


#dPlotDisplay{
	display:none;
}

#dPlotDisplay h2{
	font-size: 1.2em;
}
.pSource{
	font-size: 10px;
}

#buildMenu{
	border-top: 1px solid gray;
	margin: 20px 0;

	padding: 5px;
}

#buildMenu h3{
	font-weight: bold;

}

#buildMenuOptionTable{
	display: flex;
	flex-direction: row;

}
.bBuild{
	height: 60px;
	margin: 10px;
	cursor: pointer;

}


#pv-radius{
    position: relative;
    background-color: coral;
    visibility:hidden;
    z-index: 1000;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}
