*{
	margin: 0;
	padding: 0;
	font-size: 1em;
	text-decoration: none;
	font-weight: normal;
	text-align: left;

	vertical-align: top;
}

sup{
	vertical-align: super;
	font-size: smaller;

}

:root {
    --build-dock-height: 200px;
    --status-bar-height: 40px;
}

#root{
	width: 100%;
	height: 100%;
	user-select: none;
}

html, body{
	width: 100%;
	height: 100%;
	max-height: 100%;
	min-height: 0;
}

body{
	display: flex;
	flex-direction: column;
}

header{
	width: 100%;
	height: 60px;

	text-align: center;

	border-bottom: 1px solid gray;
	display: none;
}

h1{
	font-size: 30px;
	padding: 10px;
}



#dCorps{
	width: 100%;
	flex-grow: 1;
	overflow: auto;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
}


#dLeftDock, #dRightDock{
	box-sizing: border-box;
	display: flex;
	min-height: 0;

	flex-direction: column;
	overflow: auto;
	display:none;
}

#dRightDock{
	border-left: 1px solid gray;
	width: 350px;

}
#dLeftDock{
	width: 300px;
	border-right: 1px solid gray;
	position: relative;
}

#bMaskLeftDock{
	position: absolute;
	top: 50%;
	left: -24px;
	width: 40px;
	height: 40px;
	background:white;
	border: 1px solid gray;
	border-radius: 50%;
	z-index: 1000000000;
	transform: translate(0, -40px);
	cursor:pointer;
	display:none;
}



#dCentralArea{
	flex: 1 1;
	overflow: hidden;
	position: relative;
}


#dMap{
	transform-origin: 0 0;
	overflow: visible;
	position: relative;
	width: 100px;
	height: 100px;
	will-change: transform;
	filter: grayscale(1%);
	display:none;
}

#dCoefs  > *{
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid rgb(220, 220, 220);
	transition: 0.2s;
}

#dCoefs  > *:hover{
	padding-left: 12px;
	padding-right: 8px;
}


#dPlotDisplay{
	display:none;
	padding: 50px;
}

#dPlotDisplay h2{
	font-size: 1.2em;
}
.pSource{
	font-size: 10px;
}


/** BUILD MENU ----------------------------------*/
#buildMenu{
	border-top: 1px solid gray;
	margin: 20px 0;

	padding: 5px;
}

#buildMenu h3{
	font-weight: bold;

}

#buildMenuOptionTable{
    display: flex;
    flex-direction: row;
    width: min-content;
}

.bBuild{
	height: 40px;
	margin: 5px;
	cursor: pointer;
}

.bBuild:hover{
	transform: scale(1.2);
}

#dBuildDetails{
	/* display: none; */
    max-width: max-content;
    width: 100%;
    background-color: rgba(76, 175, 80, 0.3);
    padding-left: 10px;
    padding-right: 20px;
    white-space: nowrap;
}
#dBuildDetails th{
	text-align:left;
	vertical-align: top;
}

.bmInf{
	height: 12px;
}


#pv-radius{
    position: relative;
    background-color: coral;
    visibility:hidden;
    z-index: 1000;
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}



.mainButton{
	position:absolute;
	z-index: 10000;
	cursor: pointer;
	width: 32px;
}
#bConfigure{
	top: 10px;
	left: 0;
}

#bStats{
	top: 60px;
	left: 0;
	display: none;
}

#bClosePlot{
	top: 0;
	right: 0;
	left: auto;
}

#bDownloadDic{
	top: 120px;
	left: 20px;
}

/*#divShowEnergyGrid{
	top: 0;
	right: 0;
}



.mainButton input[type="checkbox"]{
  display: none;
}

.mainButton label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.mainButton label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.mainButton label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.mainButton :checked+label {
  border-color: #ddd;
}

.mainButton :checked+label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

.mainButton :checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}
*/




.scaleInvariant{
	position: fixed;
	transform-origin: center;
	top: 300px;
	left: 300px;
	z-index: 50;
	will-change: transform;
}



/* dMainMenu ----------------------------------------- */

#dMainMenu{
	display: flex;
	flex-direction: column;

	align-items: center;

	justify-content: space-between;

	height: 100%;
}

#dMainMenu > div{
	display: flex;
	flex-direction: column;
}

#dMainMenu > div > *{
	padding: 20px;
}

#dMainMenu a{
	cursor: pointer;
}

#dMainMenu a:hover{
	text-decoration: underline;
}

#author{
	padding: 10px;
	font-size: 0.8em;
}








/** REACT =====================================================**/


.hFlex{
	display: flex;
	flex-direction: row;

}


.hLayout{
	display: flex;
	flex-direction: row;

	overflow: hidden;
	flex: 1 1;
}

.vLayout{
	display: flex;
	flex-direction: column;

	overflow: hidden;
	flex: 1 1;
}


#statusBar{
	position: absolute;
	width: 100%;
	z-index:1000000;
	justify-content: space-between;
	height: var(--status-bar-height);
	align-items: center;
	font-size: 1.5em;
	background: rgba(50, 50, 50, 0.9);
	border-bottom: 2px solid white;
	color: white;
}
#statusBar > * {
	margin: 0 10px;
	cursor: pointer;
}

#dBuildDock{
	position: absolute;
	bottom: 0px;
	/* width: 100%; */
    width: min-content;
	height: var(--build-dock-height);
	z-index:1000000;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5em;
	overflow: hidden;
}

#BuildMenu{
    position: absolute;
    bottom: var(--build-dock-height);
    z-index:1000000;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: var(--status-bar-height);
    flex-wrap: wrap;
    overflow: visible;
    justify-content: flex-end;
}

#dMapBox{
	flex: 1 1;
	position: relative;
}

#dMapLayers{
	position: absolute;
	right: 10px;
	top: 50px;
}

.mapButton{
    cursor: pointer;
    width: 32px;
    border-radius: 16px;
}


#dMapBox canvas{
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
}

#bNextTurn{
	position: absolute;
	right: 10px;
	bottom: 10px;

}

.button{
	display:block;
	padding:0.35em 1.2em;
	margin:0.3em;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	text-align:center;
	transition: all 0.2s;
	cursor: pointer;
}

.button.black{
	color:black;
	border:0.1em solid black;

}

.button.black:hover{
	color:white;
	background-color:black;

}


.button.white{
	color:white;
	border:0.1em solid white;
}
.button.white:hover{
	color:black;
	background-color:white;
}




.dialog{
	/* height: 100px;
    width: 100px; */
    position: absolute;
	background: rgba(50, 50, 50, 0.9);
	color: white;

	padding: 20px;
	border-radius: 10px;
	overflow: visible;
	user-select: text;
}


.dialog h3{
	margin: 10px;
	text-align: center;
}


.taxSlider{
	width: 300px;
	height: 8px;
	border-radius: 4px;
	  background-image:
	  linear-gradient(
		to right,
			#4bc67d 30%, #f1c40f 45%, #b94a48 100%
	);
	position: relative;
	margin: 25px 0;
}

.taxSlider .handle{
	margin-left: -20px;
	width: 40px;
	height: 40px;
	border-radius: 400px;
	background:
	white;
	position: absolute;
	top: -20px;
	left: 50%;
	color:
	black;
	line-height: 40px;
	font-size: 16px;
	border: 5px solid
	green;
	font-weight: 500;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	text-align: center;
	cursor: pointer;
}





/* Details  */
.detailContent h3{
	font-size: 1.4em;

}

.detailContent h4{
	border-bottom: 5px solid rgb(200, 200, 255);
	font-size: 1.3em;
	line-height: 3em;
	margin-bottom: 10px;
}


.hWrapLayout{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.hWrapLayout > *{
	width: 400px;
	margin: 10px;
	flex-grow: 1;
}

ul{
   list-style-type: none;
}



.plotContainer{
	position: relative;
}

.bDownloadPlotCsv{
	position: absolute;
	right: -32px;
	top: 0;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.1s;
}


.plotContainer:hover .bDownloadPlotCsv{
	opacity: 1;
}
